*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3D5A80;
    color: #fff;
    text-align: center;
}
.container{
    display: flex;
    min-height: 500px;
    margin: 1em 6%;
    
}